<header class="page-header about-header" >
  <h1>About Jungle</h1>
</header>
<div class = "about_index_show">
  <img class = "img_about" src="https://watchandlearn.scholastic.com/content/dam/classroom-magazines/watchandlearn/videos/animals-and-plants/plants/what-are-plants-/What-Are-Plants.jpg"/>
</div>
